svg {
    position: absolute;
    /* width: 200px; */
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.monkey {
    stroke-dasharray: 5981;
    stroke-dashoffset: -5981px;
    transform-origin: 50% 50%;
    animation-name: monkey;
    animation-delay: 0;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-direction: alternate; */
    /* animation-timing-function: ease-in-out; */
    animation-fill-mode: backwards;
}
/* .hex {
    stroke-dasharray: 6467px;
    stroke-dashoffset: -6467px;
    animation: draw-hex 3s 6;
    t\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ransform-origin: 50% 50%;
} */

@keyframes monkey {
    0% {
        stroke-dashoffset: -5981px;
        /* transform: rotate(0deg); */
    }
    70% {
        stroke: blue;
        /* transform: rotate(360deg); */
    }
    100% {
        stroke-dashoffset: 0;
        /* transform: rotate(360deg); */
    }
}
/* @keyframes draw-hex {
    from {
        stroke-dashoffset: -6467px;
        transform: rotate(0deg);
    }
    to {
        stroke-dashoffset: 0;
        transform: rotate(-720deg);
    }
} */